* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: auto;
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}
nav ul a {
  text-decoration: none;
}
.display-flex {
  display: flex;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.banner {
  /* margin-top: 110px;   */
  margin-top: 0;
  justify-content: center;
  align-items: center;
}
.span {
  color: #e95a08;
}
@media screen and (max-width: 576px) {
  .nav-ul li:nth-child(1),
  .nav-ul li:nth-child(2),
  .nav-ul li:nth-child(3) {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
}
